@{
    ViewBag.Title = "Index";
    Layout = null;
}
@model SymViewModel.Common.UserGroupVM
@using UIHelper.MVC
                  

<div class="UserDetail">
      @using (Html.BeginForm("Edit", "SymUserRoll", FormMethod.Post, new { @Id = "frmSymUserRoll" }))
    {
            @Html.HiddenFor(model => model.Id)
          //  @Html.HiddenFor(model => model.LogID)

        if (Model.SymUserRollVMs.Count() > 0)
        { 
<div class="thinbox ">
    <div class="th_thinbox">
        <p >User Roll </p>
    </div>
        <div class="headrow">
            <button type="button"  title="Save Data" onclick="pageSubmit('frmSymUserRoll');"class="sym-btn-save">&nbsp;Save</button>
        </div>
    <div class="row">
        <div class="col-md-2"><label>Area</label></div>
        <div class="col-md-4"><label>Control</label></div>
        <div class="col-md-1"><label>Index</label></div>
        <div class="col-md-1"><label>Add</label></div>
        <div class="col-md-1"><label>Edit</label></div>
        <div class="col-md-1"><label>Delete</label></div>
        <div class="col-md-1"><label>Process</label></div>
        @*<div class="col-md-1"><label>Report</label></div>*@

    </div>
        @foreach (var item in Model.SymUserRollVMs)
        {
        @Html.Partial("_symUserRoll",item);
        }
          <div class="headrow">
                   <button type="submit" title="Save Data" class="sym-btn-save">&nbsp;Save</button>
        </div>
</div>
    }
    }
    </div>
@*@Html.Partial("_userList")*@;
<script>
    function submitdata() {
        var model = @Html.Raw(Json.Encode(Model))
       alert(model)
        $.ajax({
            url: "@Url.Action("Create", "SymUserRoll", new { area = "Common" })",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(model)
            })
            .done(function(data){
                console.log(data);
            });
      
    }
    $(function () {
        if ('@Model.Id' != null || typeof '@Model.Id' == 'undefined') {
            $(".UserDetail").show();
          @*  Selectemployee('@Model.UserId')*@
        }
        else {
            $(".UserDetail").hide();
        }
        var userid = $('.userid').val();
        $("#symArea").change(function () {
            $(".UserDetail").show();
            var Module = $("#symArea").val();
            //var Menu = $("#Menu").val();
            var empId = $('.userid').val();
            //Selectemployee(empId)
        })
        $("#Menu").change(function () {
            var Module = $("#Module").val();
            //var Menu = $("#Menu").val();
            var empId = $('.userid').val();
            Selectemployee(empId);
        })
        
        //ADD
        $(".AllIsAdd").on("click", function () {
            $(".IsAdd").prop("checked", this.checked);
        });

        $(".IsAdd").on("click", function () {
            $(".AllIsAdd").prop(
                "checked",
                $(".IsAdd").length === $(".IsAdd:checked").length
            );
        });

        // INDEX
        $(".AllIIndex").on("click", function () {
            $(".IsIndex").prop("checked", this.checked);
        });

        $(".IsIndex").on("click", function () {
            $(".AllIIndex").prop(
                "checked",
                $(".IsIndex").length === $(".IsIndex:checked").length
            );
        });


        // EDIT
        $(".AllIEdit").on("click", function () {
            $(".IsEdit").prop("checked", this.checked);
        });

        $(".IsEdit").on("click", function () {
            $(".AllIEdit").prop(
                "checked",
                $(".IsEdit").length === $(".IsEdit:checked").length
            );
        });


        // DELETE
        $(".AllDelete").on("click", function () {
            $(".IsDelete").prop("checked", this.checked);
        });

        $(".IsDelete").on("click", function () {
            $(".AllDelete").prop(
                "checked",
                $(".IsDelete").length === $(".IsDelete:checked").length
            );
        });


        // PROCESS
        $(".AllProcess").on("click", function () {
            $(".IsProcess").prop("checked", this.checked);
        });

        $(".IsProcess").on("click", function () {
            $(".AllProcess").prop(
                "checked",
                $(".IsProcess").length === $(".IsProcess:checked").length
            );
        });
 });


    function Selectemployee() {
        var symArea = $("#symArea").val();
        var Id = $("#Id").val();

        var url = "/Common/SymUserRoll/SelectUserForRollSearch?Id=" + Id + '&SymArea=' + symArea;
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () { $(".loading").show(); },
            complete: function () { $(".loading").fadeOut(200).hide("slow") },
            success: function (data) {
                //$('#detailsDiv').html(data);
            },
        });
    }
</script>


